<dom-module id="person-view">
    <template>
        <style>
            hr {
                border: none;
                border-top: 2px solid cornflowerblue;
                margin: 30px 0px;
                width: 215px;
                opacity: 0.5;
            }
            
            input,
            button {
                font-family: "Lato";
                font-weight: 700;
                font-size: 14px;
                color: #555;
                border-radius: 2px;
                background: white;
                border: 2px solid #ddd;
                padding: 5px;
                margin-top: 10px;
            }
            
            input {
                width: 200px;
            }
            
            strong,
            button {
                font-family: "Lato";
                text-transform: uppercase;
                font-weight: 700;
            }
            
            button {
                margin-right: 10px;
                width: 100px;
            }
        </style>
        <hr>
        <!-- iron-input exposes a two-way bindable input value -->
        <input is="iron-input" bind-value="{{model.fullname}}" placeholder="Your name here...">
        <p>
            This is <strong>[[model.fullname]]</strong>.
        </p>
        <button on-click="reset">Reset</button>
        <button on-click="promote">Promote</button>
    </template>
</dom-module>